/* You can add global styles to this file, and also import other style files */
/* @import '~quill/dist/quill.core.css'; */
/* @import '~quill/dist/quill.bubble.css'; */
@import '../node_modules/quill/dist/quill.snow.css';
/* @import '~quill/dist/quill.snow.css'; */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
